.container {
    margin: 20px auto;
    max-width: 700px;
    text-align: center;
}

.box {
    padding: 10px;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    width: 80%;
    max-width: 400px;
}

.box h1 {
    margin: 0; 
    text-align: left;
    font-size: 1.5em;
}

.box li{
    font-size: 20px;
    background-color:  #F0C5DF;
}

a {
    text-decoration: none;
}

.content {        
    display: none;
    padding-top: 10px;
    text-align: left;
}

.box:hover {
    background-color: #F0C5DF;
}